.git
.gitignore

__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

.pytest_cache/
.mypy_cache/
.ruff_cache/

.venv/
venv/
env/
ENV/

.env
.env.*

data/
notebooks/
reports/
mlruns/
mlartifacts/
logs/
*.log
.ipynb_checkpoints/

artifacts/*
!artifacts/
!artifacts/model_pipeline.joblib
